@import '../../../sass/abstract/variables.scss';

.Comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        text-decoration: none;
        
        .created-at {
            align-self: center;
            margin-top: 1.6rem;
            color: $black;
        }

        .comment-username {
            align-self: center;
            margin-top: 1rem;
            color: $black;
        }
    }

    .content {
        width: 50%;
        margin-left: 5rem;
        font-size: 1.4rem;
    }
}