// COLORS //

$lightgrey: #f3f3f3;
$error-color:#660266;
$white: #fff;
$black: #000;
$background-color:  #ececec;
$gold-orange: #c08a00;
$gradient-purple: #400040;
$lightgreen: #40ff40;
$darkgreen: #404040;

$light-blue: #499cc2;
