// COLORS //

$lightgrey: #f3f3f3;
$grey:#a5a5a5;
$error-color:#660266;
$white: #fff;
$black: #000;
$background-color:  #ececec;
$gold-orange: #5f4501;
$gradient-purple: #310231;
$lightgreen: #11aa11;
$darkgreen: #404040;
$golden-brown: #5f4501;

$light-blue: #034a6b;
