// COLORS //

$lightgrey: #f3f3f3;
$grey:#a5a5a5; 
$error-color:#660266;
$white: #fff;
$black: #000;
$background-color:  #ececec;
$gold-orange: #ffb700;
$gradient-purple: #310231;
$darkgreen: #404040;
$golden-brown: #5f4501;
$red: #860000ce;
$light-blue: #034a6b;


// GREENS
// $lightgreen: #11aa11;
$lightgreen: #99BF0F;
$green: #68ad00;
$darkgreen: #2d5704;



// TYPOGRAPHY //

$logo-font: 'Permanent Marker';
$headline-font: 'Staatliches'
