@import '../abstract/variables.scss';
@import '../abstract/mixins';

.btn {
    font-size: 1.6rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}

.btn:active {
    transform: translateY(2px);
}