.Comments {
    margin-top: 2rem;
    display: flex;

    .add-comment {
        width: 100%;

        .CommentAdd {
            width: 100%;
        }
    }

    .comment-box {
        width: 100%;
        height: 30rem;
        overflow: scroll;
    }
}


.comments-head {
    text-align: start;
    margin-left: 2rem;
}